<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="top">
          <img class="logo" src="images/logo-mercado-liebre.svg" alt="logoml" />
          <form action="">
            <input
              type="text"
              name=""
              id=""
              placeholder="Buscar productos, marcas"
            />
            <button>
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
          <p class="medium">
            <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y
            sin tarjeta de credito
          </p>
        </div>
        <div class="hamburguesa">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div class="bottom">
          <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
          <ul>
            <li>
              <a href="#"
                >Crea tu cuenta<i class="fa-regular fa-address-card"></i
              ></a>
            </li>
            <li>
              <a href="#"
                >Ingresa<i class="fa-solid fa-right-to-bracket"></i
              ></a>
            </li>
            <li>
              <a href="#"
                >Mis compras<i class="fa-solid fa-basket-shopping"></i
              ></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <form class="formulario" action="#" method="post">
        <input type="text" name="nombre" placeholder="Nombre de usuario" />
        <input
          type="password"
          name="password"
          placeholder="Elegi tu contraseña"
        />
        <label for="">Aceptar los terminos y condiciones</label>
        <input type="checkbox" name="politica" value="acepto" />
        <label for="">Aceptar el envio de newsletter</label>
        <input type="checkbox" name="politica" value="aceptarnewsletter" />
        <button type="submit">Enviar</button>
      </form>
    </main>
    <footer>
      <section>
        <article class="articulo-pie">
          <i class="fa-solid fa-credit-card icon"></i>
          <h3>Paga con tarjeta de credito o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>
        <article class="articulo-pie">
          <i class="fa-solid fa-gift icon"></i>
          <h3>Envío gratis desde $2500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>
        <article class="articulo-pie">
          <i class="fa-solid fa-user-shield icon"></i>
          <h3>Seguridad de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </article>
      </section>
      <section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
  </body>
</html>
